<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV</title>
</head>

<style>
    a {
        text-decoration: none;
        color: black;
    }

    form {
        margin-top: .5rem !important;
        width: 50vw;
        text-align: center;
        padding: 1rem 1rem;
        margin: auto;
        border: 1px solid black;
        box-shadow: 1px 1px 1px black;

    }

    #ctrls {
        width: 50vw;
        text-align: center;
        padding: 1rem 1rem;
        margin: auto;
        border: 1px solid black;
        box-shadow: 1px 1px 1px black;

    }
</style>

<body>
    <div style="margin: top 10px; margin-bottom: 10px;">
        <button><a href="/">Go home</a></button>
    </div>

    <div id="ctrls">
        <button> <a href="/bm">Get all Books ands Magazines</a></button>
        <button> <a href="/add">Add a new book or magazine</a></button>
    </div>


    <form action="">
        <h3>Search By Author</h3>
        <input type="text" id="ath" />
        <button id="bya">Search</button>
    </form>

    <form action="">
        <h3>Search By ISBN</h3>
        <input type="text" id="isbn" />
        <button id="byi">Search</button>
    </form>

    <script>
        const ath = document.querySelector('#ath')
        const isbn = document.querySelector('#isbn')
        const bya = document.querySelector('#bya')
        const byi = document.querySelector('#byi')

        byi.addEventListener('click', e => {
            e.preventDefault();
            window.location.pathname = '/bmi/' + isbn.value
        })

        bya.addEventListener('click', e => {
            e.preventDefault();
            window.location.pathname = '/bma/' + ath.value
        })
    </script>
</body>

</html>
